@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-sans);
  text-align: center;
}

:root {
  --background: #19181b;
  --white: #d1d1d1;
  --grey: rgb(47, 47, 47);
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.6;
}

td {
  padding: 0 0.5em;
  text-align: right;
}

html {
  color-scheme: dark;
}

body {
  color: white;
  background-color: var(--background);
}

#title {
  font-family: var(--font-mono)
}

@media screen and (max-width: 550px) {
  #title {
    position: absolute;
    left: 70px
  }
}

#content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  background-color: #19181b;
}

#chat-box {
  width: 100%;
  max-width: 700px;
  background-color: black;
  outline: none;
  resize: none;
  font-size: large;
  border-radius: 5px;
  border: 1px solid var(--grey);
  height: 60px;
  font-family: var(--font-sans);
  font-size: 15px;
  padding: 0 25px;
  position: fixed;
  bottom: 25px;
  right: calc((100% - 700px) / 2);
  z-index: 10;
}

.Header {
  height: 65px;
  width: 100%;
  background-color: black;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  border-bottom: 1px solid var(--grey);
  position: fixed;
  top: 0;
}

.message {
  width: 100%;
  position: relative;
  color: var(--white);
}

.message > span {
  width: 100%;
  display: block;
  text-align: left;
  margin: auto;
  position: relative;
  padding: 35px 0;
  border-bottom: 1px solid var(--grey);
}

#message-container {
  width: 100%;
  max-width: 700px;
  position: absolute;
  top: 65px;
  padding-bottom: 85px;
}

@media screen and (max-width: 830px) {
  #message-container {
    max-width: none;
    padding: 0 45px 99px 60px;
  }
  #chat-box {
    max-width: none;
    right: 0;
    bottom: 0;
    height: 100px;
    border-radius: 0;
    border: 0;
    border-top: 1px solid var(--grey);
  }
  .pic {
    left: -45px !important;
  }
}

.btn {
  background-color: white;
  border: 0;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  font-family: var(--font-sans);
  transition: ease 0.4s;
  color: black;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  transition: ease 0.4s;
}

.btn > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px
}

.small {
  width: 100px;
  padding: 8px 0;
  position: absolute;
  right: 16px;
  top: 16px;
  height: 31px;
  line-height: 1;
  font-size: 15px;
}

.pic {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -50px;
  top: 32px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login, .Welcome {
  background-color: black;
  width: fit-content;
  margin: auto;
  position: relative;
  top: 20vh;
  height: 60vh;
  padding: 15px 60px;
  border-radius: 10px;
  min-width: 350px;
  border: 1px solid var(--grey);
}

.Welcome {
  position: absolute;
  top: 95px;
  height: fit-content;
  text-align: left;
  font-family: var(--font-mono);
  padding: 5px 40px;
  width: auto;
  margin: 0 15px;
}

.Login > h1 {
  font-family: var(--font-mono);
  font-weight: 500;
  font-size: 26px;
}

.login {
  width: 100%;
  max-width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--font-mono);
  font-size: 15px;
  font-weight: bold;
}

#hider {
  height: 1px;
  background-color: var(--background);
  position: relative;
  bottom: 1px;
}