html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

td {
  padding: 0 0.5em;
  text-align: right;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

#content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 15px;
  position: absolute;
  bottom: 0;
}

#chat-box {
  width: 100%;
  background-color: lightgray;
  padding: 15px 15px 0 15px;
  outline: none;
  resize: none;
  font-size: large;
  border-radius: 8px;
  border: 0;
}